KSU_bioinfo_lab/clean_illumina/Colorer.pyc
KSU_bioinfo_lab/clean_illumina/__pycache__/
KSU_bioinfo_lab/clean_illumina/general.pyc
KSU_bioinfo_lab/clean_illumina/trimmomatic_template.pyc
KSU_bioinfo_lab/clean_illumina/fasta_qc.pyc
